@model LoginViewModel

<div class="ui reised very padded text container" style="margin-top:30px">
    <h3 class="ui header centered">WELCOME TO MY LOGIN PAGE!!!</h3>
    @if (ViewBag.NotMatch != null)
    {
        <div class="alert alert-danger">Credentials have not matched</div>
    }
    <form asp-controller="Login" asp-action="Authenticate" method="post" class="ui large form validate-me" role="form">
        <div class="ui stack segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input asp-for="Email" placeholder="Email" required />
                </div>
                <span asp-validation-for="Email" style="color:red"></span>
            </div>
            <div class="field ">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input asp-for="Password" placeholder="Password" required />
                </div>
                <span asp-validation-for="Password" style="color:red"></span>
            </div>

            <div>
                <button class="ui blue button">
                    <i class="lock icon"></i>
                    LOGIN
                </button>
            </div>
            @*<div asp-validation-summary="All" class="ui error" style="color:red"></div>*@

        </div>
    </form>
</div>