@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>The best Travelling page!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the tourist paradise</h2>
        <p>This is my sample application that demonstrates how my entities will be implemented.</p>
    </div>
    <div class="col-md-4">
        <h2>Familiarize with existing tours</h2>
        <p>You can browse our tours and find out useful information.</p>
    </div>
    <div class="col-md-4">
        <h2>Add new tour</h2>
        <p>You can add your new tour with your own date and attractive excursion sights..</p>
    </div>
</div>